@model Globaldev.Models.Patient 
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table style="font-family:Arial">
    <tr>
        <td>Patient Name</td>
        <td>@Model.fName </td>
    </tr>

</table>